
.home-page{
  margin-left: 100px;
}
/* * Video Container */
.videoContainer {
    width: 100%;
    height: 100vh; /* 100% of viewport height */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  /* Video Player */
  .video-player {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio while covering the container */
  }
  