.upload-popup{
    position: fixed;
    background-color: #16181f;
    height: 30.5rem;
    width: 54rem;
    border-radius: 12px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    border-radius: 12px;

}

.upload-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Adjust the gap as needed */
  }

.upload-wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.drop-area{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.file-upload{
    font-size: 45px;
}
.drop-area .f-button{
    background-image: linear-gradient(93.87deg,#095ae6,#062794);
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 18px;
    padding: 12px;
    line-height: 28px;
    font-weight: 500;
    width: 15rem;
    cursor: pointer;
    transition: all .3s ease-in-out;
}


.f-button:hover{
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0.384);
}

.selected-video .U-button{
    background-image: linear-gradient(93.87deg,#095ae6,#062794);
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 18px;
    padding: 12px;
    line-height: 28px;
    font-weight: 500;
    width: 15rem;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.UC-buttons{
    display: flex;
    flex-direction: column;
    gap: 12px;
}