/* Reset some default styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Style for the sidebar */
.sidebar {
    height: 100%;
    background-color: #07070762;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100px; /* Set the initial width */
    transition: width 0.3s; /* Add transition for smooth animation */
    z-index: 1;
}

/* Style for the logo */
.logo {
    padding: 20px;
}

/* Style for the logo */
.logo img {
    width: 80%;
    display: block;
    margin: 0 auto;
}

/* Style for the navigation menu */
.nav {
    list-style: none;
    padding: 0;
    margin: auto;
}

.nav li {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 6px;
    transition: opacity 0.8s; /* Add transition for smooth animation */
    font-weight: 600;
}

/* Show icons by default when not hovering */
.nav li .nav-text {
    display: none;
}

.sidebar:hover{
    width: 180px;
}

/* Hide icons when not hovering */
.sidebar:hover .nav li .nav-text {
    display: block;
   
}

/* Show both icons and text when hovering */
.sidebar:hover .nav li {
    opacity: 1;
    color: white; /* Set the text color to white */
}

.nav-text:hover{
    color: rgb(255, 255, 255);
    filter: drop-shadow(0 0 20px hsla(0,0%,100%,.6));
    
}

.nav a {
    text-decoration: none;
    color: white;
    display: block;
    
}
.nav li{
    cursor: pointer;
}
.active, .dot:hover {
    background-color: none !important;
}
/* Style for the content area */
.content {
    margin-left: 100px; /* Width of the sidebar */
    padding: 20px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        position: relative;
        height: auto;
        padding-top: 60px; /* Space for the logo */
    }

    .content {
        margin-left: 0;
    }
}
